@font-face {
   font-family: 'CyrillicOld';
   font-display: swap;
   src: url('file:///D:/%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%BA%D0%B8%D0%B9/iverskiy-hram/iverskiy-hram/fonts/CyrillicOld/font.ttf');
}
